{% extends "base.html" %}

{% block content %}

		<div class="row border">
			<!-- <div class="col-md-6 border">
				<img class="img-responsive contact-image" src="http://placekitten.com/g/350/450">
			</div> -->

			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 border contact-details text-centered">
				<br>
				<br>
				<br>
				<br>
				<br>
				<h4 class="border">CONTACT</h4>
				<br>
				<h5>FOR ALL ENQUIRIES</h5>
				<br>
				<a href="mailto:jessica@twentytwo-twentytwo.co.uk"><p>jessica@twentytwo-twentytwo.co.uk</p></a>
				<br>
				<!-- <h5>FOR PRESS ENQUIRIES</h5> -->
				<!-- <br> -->
				<!-- <p>press@twentytwo-twentytwo.co.uk</p> -->
				<br>
				<a target="_blank" href="https://www.instagram.com/twentytwo_twentytwo/"><img class="img-responsive insta" src="/static/images/icon_instagram.png"><span class="insta border">@twentytwo_twentytwo</span></a>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

				<!-- <form>
					<h5>SUBSCRIBE FOR UPDATES</h5>
					<input type="text" name="subscribe" value placeholder="your e-mail here">
				</form> -->
			</div>
		</div>

{% endblock %}