{% extends "base.html" %}

{% block content %}

		<div class="row border">
			<!-- <div class="col-md-4 col-md-offset-1 border">
				<img class="img-responsive contact-image" src="http://placekitten.com/g/350/450">
			</div> -->

			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-centered border">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2>
					THANK YOU FOR YOUR ORDER!
				</h2>
				<br>
				<br>
				<p>
					YOU WILL RECEIVE A CONFIRMATION E-MAIL SHORTLY
				</p>
				<!-- <br> -->
				<br>
				<br>
				<p>
					KEEP IN TOUCH AND FOLLOW US ON INSTAGRAM
				</p>
				<br>
				<br>
				<p>@TWENTYTWO_TWENTYTWO</p>
				<br>
				<a target="_blank" href="https://www.instagram.com/twentytwo_twentytwo/"><img class="img-responsive insta" src="/static/images/icon_instagram.png"></a>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>

{% endblock %}