{% extends "base.html" %}

{% block customJs %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/mail.js') }}"></script>
	<script src="{{ url_for('static', filename='js/validate.js') }}"></script>
	{% if item.name == "emin" %}
	<script src="{{ url_for('static', filename='js/select.js') }}"></script>
	{% endif %}
{% endblock %}

{% block content %}

		<div class="row border top-margin bottom-margin">
			<div class="col-md-6 col-xs-12 shop-item border">
				<a href="#" id="pop">
					<img id="{{ item.name }}" class="img-responsive" data-toggle="modal" data-target="#itemModal" src="{{ url_for('static', filename='images/{}'.format(item.thumbnail)) }}">
				</a>
			</div>

			<div class="col-md-6 col-xs-12 border shop-item">
				<form id="item-form" action="/shop/item/{{ item.id }}" method="post">
					{{ form.hidden_tag() }}
					<div class="col-md-12 col-xs-12">
						<span id="item-name"><b>{{ item.name.upper() }}</b> {{ item.category.upper() }}</span>
						<br>
						<br>
						<span><b>{{ "£{}".format((item.price | int)) }}</b></span>
						<br>
						<br>
						<br>
						<span>{{ item.dna.upper() }}</span>
					</div>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<div class="col-md-5 col-xs-12">
						<select id="item-size" name="size_id">
							<option value="0" disabled selected>SELECT SIZE</option>
							{% for size in form.size_id %}
							<!-- <option name="body" value="{{ size.size_id }}">{{ size.name.upper() }}</option> -->
								<!-- {% if size.id == -1 %} -->
									<!-- {{ size(disabled=True, selected=True) }} -->
								<!-- {% else %} -->
									{{ size }}
								<!-- {% endif %} -->
							{% endfor %}
						</select>
						
					</div>
					<div class="col-md-6 col-xs-12">

						{% if item.name == "emin" %}

						<select id="item-colour" name="colour_id" onchange="onChange()">

						{% else %}

						<select id="item-colour" name="colour_id">

						{% endif %}

							<option value="0" disabled selected>SELECT COLOUR</option>

							{% for colour in form.colour_id %}
							<!-- <option name="body" value="{{ colour.colour_id }}">{{ colour.name.upper() }}</option> -->
							<!-- 	{% if colour.id == -1 %}
									{{ colour(disabled=True, selected=True) }}
								{% else %} -->
									{{ colour }}
								<!-- {% endif %} -->
							{% endfor %}
						</select>
			
					</div>
					{% if form.size_id.errors and form.colour_id.errors %}
						<div class="col-md-5 col-xs-12 error"><span id="size-error">{{ form.size_id.errors[0].upper() }}</span></div>
						<div class="col-md-6 col-xs-12 error"><span id="colour-error"></span>{{ form.colour_id.errors[0].upper() }}</div>
					{% elif form.size_id.errors %}
						<div class="col-md-5 col-xs-12 error"><span id="size-error">{{ form.size_id.errors[0].upper() }}</span></div>
					{% elif form.colour_id.errors %}
						<div class="col-md-offset-5 col-xs-offset-12 col-md-6 col-xs-12 error"><span id="colour-error"></span>{{ form.colour_id.errors[0].upper() }}</div>
					{% else %}
						<div class="col-md-5 col-xs-12 error"><span id="size-error"></span></div>
						<div class="col-md-6 col-xs-12 error"><span id="colour-error"></span></div>
					{% endif %}
					<br>
					<br>
					<br>
					<div class="col-md-10">
						<span>{{ item.description.upper() }}</span>
					</div>
					<br>
					<br>
					<br>
					<br>
					<div class="col-md-10">
						<span>{{ item.care.upper() | safe }}</span>
					</div>
					<br>
					<br>
					<br>
					<br>
					<br>
					<div class="col-md-10">
						<input type="submit" value="ADD TO CART" />
					</div>
				</form>

			</div>
		</div>

{% endblock %}

{% block modal %}


<!-- Modal -->
<div class="modal" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  	<div class="vertical-alignment-helper">
	  	<div class="modal-dialog modal-lg vertical-align-center">
		    <div class="modal-content">
		    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="">

		  			<!-- Wrapper for slides -->
					<div class="carousel-inner">
					    {% for image in item.images %}
							{% if image == item.thumbnail %}
								<div class="item active">
									<img class="img-responsive" src="{{ url_for('static', filename='images/{}'.format(image)) }}" alt="...">
								</div>
							{% else %}
								<div class="item">
									<img class="img-responsive" src="{{ url_for('static', filename='images/{}'.format(image)) }}" alt="...">
								</div>
							{% endif %}
						{% endfor %}
					</div>

				  <!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
    </div>
</div>

{% endblock %}
