{% extends "base.html" %}

{% block content %}

		<div class="row border">
			<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 border carousel terms">
				<br>
				<br>
				<h2>TERMS & CONDITIONS</h2>
				<br>
				<h3>ACCEPTANCE OF YOUR ORDER</h3>
				<p>
					THE DISPLAY OF ANY ITEM ON THIS WEBSITE IS NOT AN OFFER TO SELL AND 22:22 SHALL BE UNDER NO OBLIGATION TO SUPPLY THE PRODUCTS ORDERED THROUGH THIS WEBSITE. IF YOU PLACE AN ORDER, THIS IS YOUR OFFER TO PURCHASE SELECTED PRODUCTS FROM 22:22. WE WILL ACKNOWLEDGE YOUR ORDER AS SOON AS POSSIBLE BUT WILL BE UNDER NO OBLIGATION TO SUPPLY THE PRODUCTS ORDERED UNLESS THE PRODUCTS ARE IN STOCK AND THEY ARE AVAILABLE AT THE PRICES SPECIFIED.
				</p>
				<br>
				<h3>DELIVERY OF GOODS</h3>
				<p>
					22:22 AIMS TO DELIVER YOUR ORDER IN PERFECT CONDITION AND IN THE SHORTEST TIME POSSIBLE. YOU WILL RECEIVE A CONFIRMATION E-MAIL OF DISPATCH. ALL ITEMS ARE SENT BY ROYAL MAIL AND IF YOU WISH TO TRACK YOUR PARCEL, PLEASE E-MAIL US AT <a href="mailto:studio@twentytwo-twentytwo.co.uk">STUDIO@TWENTYTWO-TWENTYTWO.CO.UK</a> AND WE CAN SEND YOU A TRACKING NUMBER.
				</p>
				<p>
					MOST ORDERS WILL BE DISPATCHED WITHIN FIVE WORKING DAYS. HOWEVER, 22:22 RESERVES THE RIGHT TO DELAY THE DISPATCH OF AN ORDER IN  INSTANCES WHERE THERE MIGHT BE INSUFFICIENT STOCK. YOU WILL RECEIVE AN E-MAIL OF NOTIFICATION SHOULD THIS BE THE CASE.
				</p>
				<br>
				<h3>RETURNS POLICY</h3>
				<p>
					22:22 ACCEPTS RETURNS IF YOU REGISTER THAT YOU WANT TO RETURN YOUR ORDER WITHIN SEVEN DAYS OF RECEIPT. 22:22 DOES NOT PAY FOR POSTAGE FOR YOUR RETURNS. YOU WILL BE REFUNDED THE FULL AMOUNT ONLY IF 22:22 RECEIVES THE GARMENT IN THE CONDITION IN WHICH IT WAS DISPATCHED.
				</p>
				<br>
				<br>
			</div>
		</div>

{% endblock %}