{% extends "base.html" %}

{% block content %}

		<div class="row centered border">
			<div class="col-md-12 col-xs-12 border padded text-centered">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h4>22:22 IS LOOKING FOR BRIGHT AND KEEN CREATIVES TO JOIN THE TEAM AND GROW TOGETHER.</h4>
				<br>
				<br>
				<h4>IF YOU THINK YOU'D BE THE RIGHT FIT AS PART OF AN INDEPENDENT BRAND</h4>
				<h4>WE WOULD LOVE TO HEAR FROM YOU.</h4>
				<br>
				<br>
				<h4>PLEASE SEND A CV AND A BIT ABOUT YOURSELF AND THE SKILLS YOU HAVE TO OFFER TO: </h4> 
				<h4>STUDIO@TWENTYTWO-TWENTYTWO.CO.UK</h4>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>

{% endblock %}